

.box{
	width: 200px;
	height: 200px;
	background-color: #008066;
	border: 1px solid #000000;
	float: left;
	clear: 

}

.box2{

	width: 200px;
	height: 200px;
	background-color: #009900;
	border: 1px solid #000000;
	float: left;
	clear: left;
}