
.box{
	width: 1500px;
	height: 200px;
	background-color: #805500;
	border: 1px solid #000000;
	
}

.box2{
	width: 480px;
	height: 1000px;
	background-color: #805500;
	border: 1px solid #000000;
    float: left;

}

.box3{
	width: 480px;
	height: 1000px;
	background-color: #805500;
	border: 1px solid #000000;
    float: left;

}
.box4{
	width: 480px;
	height: 1000px;
	background-color: #805500;
	border: 1px solid #000000;
    float: left;

}


.box5{
	width: 1500px;
	height: 200px;
	background-color: black;
	border: 1px solid white;
	

}