body{
   text-align: center;
   background: #b9b992;
}

header{
   margin: auto;
   margin-bottom: 15px;
   width: 90%;
   height: 160px;
   background: #5d5d3c;
}

nav{
   margin: auto;
   margin-bottom: 35px;
   width: 90%;
   height: 50px;
   background: #b9b992;
}
.box{
   margin: auto;
   width: 16.4%;
   height: 50px;
   background: #3e3e28;
   float: left;
   border-radius: 15px;
   border: 1px solid #ebebe0;
}

article{
   display: inline-block;
   margin: auto;
   margin-right: 18px;
   margin-bottom: 20px;
   width: 58%;
   height: 500px;
   background: #1e282e;
}

section{

   margin: auto;
   margin-top: 80px;
   width: 97%;
   height: 150px;
   background: #6b6b47;
   border-radius: 15px;
}

aside{
   display: inline-block;
   margin: auto;
   margin-bottom: 20px;
   width: 30%;
   height: 500px;
   background: #1e282e;
}

footer{
   margin: auto;
   width: 90%;
   height: 160px;
   background: #3e3e28;
}

